{% extends 'base.html' %}

{% load static %}


{% block content %}
<script>
    function deleteParameter(id) {
            Swal.fire({
                "title": "Are you sure?",
                "text": "This action can't be reversed",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancel",
                "confirmButtonText": "Yes, Delete",
                "reverseButtons": true,
                "confirmButtonColor": "red",
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/parameter/delete/"+id+"/";
                }
            });
        }
</script>
<main class="container py-5">
    <section class="card card-body">
        <div class="text-center">
            <img src="{% static 'images/logo-jpm-brown.svg' %}" class="img-fluid" style="height: 150px;width: 50%"/>
            <h1 class="display-6 text-center" >Cert Environment Administration</h1><br>
        </div>
        <table class="table table-bordered border-success">
            <thead class="border-bottom table-dark">
                <tr>
                    <td>CompID</td>
                    <td>Parameter 1</td>
                    <td>Parameter 2</td>
                    <td>Parameter 3</td>
                    <td>Parameter 4</td>
                    <td>Last Updated</td>
                    {% if user.is_staff %}
                    <td>
                        <a href="{% url 'parameter_create' %}" class="btn btn-success">
                            <i class="fas fa-plus"></i> Add New CompID Parameters
                        </a>
                    </td>
                    {% else %}
                    <td>
                        Actions
                    </td>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="table-group-divider border-success">
                {% for parameter in parameters_list %}
                    <tr>
                        <td>{{parameter.compID}}</td>
                        <td>{{parameter.parameter1}}</td>
                        <td>{{parameter.parameter2}}</td>
                        <td>{{parameter.parameter3}}</td>
                        <td>{{parameter.parameter4}}</td>
                        <td>{{parameter.updated}}</td>
                        <td>
                            <a href="{% url 'parameter_detail' parameter.id %}" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                            {% if user.is_staff %}
                            <a href="#" onclick="console.log({{parameter.id}});deleteParameter({{parameter.id}})" class="btn text-secondary px-0">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</main>
{% endblock %}
